@import "variables";

//ellipsis 文字溢出隐藏
@mixin ellipsis(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//multi line ellipsis 多行文字溢出隐藏
@mixin multiline-ellipsis($num:2){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  white-space: normal !important;
  word-break: break-word;
}

//flex垂直水平居中布局
@mixin flex-center($direction: row){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

//flex-between
@mixin flex-between(){
  display: flex;
  justify-content: space-between;
  align-items: center;
}
